#res{
  position: absolute;
  right:5px;
  top:280px;
  background-color:white;
  box-shadow:none;
}
input[type=text], select {
	 border:0;
  background: none;
  display: block;
  margin: 2px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
input[type=text]:hover,input[type=email]:hover,input[type=password]:hover{
	border: 2px solid white;
	-webkit-filter: drop-shadow(0px 0px 15px rgba(0, 231, 255, 0.8));

}
input[type=email], select {
	 border:0;
  background: none;
  display: block;
  margin: 2px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
input[type=password], select {
	 border:0;
  background: none;
  display: block;
  margin: 2px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;}
input[type=submit]{
	padding: 5px 15px;
	border-radius:20px;
	background-color: #484848;
	color:white; 
}
input[type=submit]:hover{
	color:black;
	background-color:white;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 231, 255, 0.8));

}
#sr{
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:500px;
	border-radius:10px;
	background-color:#e6e6e6;
	padding:10px;
	color:black;
	position:relative;
	top:30px;

}
#h{
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  right: 10px;
  color:green;
  outline: none;
}
body
{
background-color:white;	
}
.error{
	color:red;
}
.correct{
	color:green;
}