#header{
color:white;
width:100%;
height:45px;
background-color:#333;
}
#flash{
color:white;
width:100%;
height:25px;
background-color:black;
padding-top: 5.5px;}
#content{
	color:white;
width:59.5%;
height:540px;
background-color:#333;
float:left;
}
#main_content{
	color:white;
background-color:#404040;
width:100%;
height:490px;
float:left;
}
#campus_feed{
	color:white;
width:40%;
height:540px;
float:right;
background-color:#333;
}
body {
background-color:#1a1a1a;
}
